.dev.vars
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.env*
.dev.vars
*.local
.wrangler/
.archive/
_wrangler.toml
build.sh
run-demo.sh
deploy/
example-embedding-into-client-html/index.html
public/